body {
    padding-bottom: 20px;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bgcolor {
    background-color: teal;
}

header {
    background-image: url('img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: auto;
    margin-bottom: 20px;
}
header.img-fluid {
    height: 300px;
}

#logo {
    margin:50px 0 0 50px;
    width: 80px;
    height: 80px;
    display: block;
    background-size: cover;
    font-size: 50px;
}

.menu {
    padding-top: 20px;
}