@using Microsoft.AspNet.Identity
@if (User.IsInRole("student")) {
    <h3>Menu</h3>
    <hr/>
    <ul class="list-unstyled font-weight-bold">
            <li><a class="text-white" href="/Students/Index/">Units</a></li>
            <li><a class="text-white" href="/Tests/StudentTestList/">Log</a></li>
    </ul>
}