@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<p>
    &nbsp;
    <br/>
</p>
<h3>Wellcome to GATE Management</h3>
<p>This is a Place you can change and modify users and other parts of Web applications.</p>
<br/>
<p>
    <a href="http://asp.net" class="btn btn-primary">Learn more &raquo;</a>
</p>